<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="GalericiEntities" connectionString="metadata=res://*/Galerici.csdl|res://*/Galerici.ssdl|res://*/Galerici.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Z29-10\SA;initial catalog=Galerici;persist security info=True;user id=sa;password=11072010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GalericiEntities1" connectionString="metadata=res://*/araclarGaleri.csdl|res://*/araclarGaleri.ssdl|res://*/araclarGaleri.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Z29-10\SA;initial catalog=Galerici;persist security info=True;user id=sa;password=11072010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GalericiEntities2" connectionString="metadata=res://*/araclarsdata.csdl|res://*/araclarsdata.ssdl|res://*/araclarsdata.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Z29-10\SA;initial catalog=Galerici;persist security info=True;user id=sa;password=11072010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GalericiEntitiesModels" connectionString="metadata=res://*/GalericiModell.csdl|res://*/GalericiModell.ssdl|res://*/GalericiModell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Z29-10\SA;initial catalog=Galerici;user id=sa;password=11072010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GalericiEntities3" connectionString="metadata=res://*/Model1galeri.csdl|res://*/Model1galeri.ssdl|res://*/Model1galeri.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Z29-10\SA;initial catalog=Galerici;user id=sa;password=11072010;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>